# use default workspace configuration
import %workspace%/build/rc/cc.bazelrc
import %workspace%/build/rc/test.bazelrc

# if a user supplied rc file is present use it
try-import %workspace%/user.bazelrc

# enable debug build and all cc sanitizers that can be run at the same time
# the -san configs are defined in `cc.bazelrc`
build:debug --verbose_failures --toolchain_resolution_debug
build:debug --config=asan-core --config=lsan-core --config=ubsan-core --platform_suffix=-dbg
